@font-face {
  font-family: "Soyuz Grotesk";
  src: local("Soyuz Grotesk"), url("fonts/Soyuz Grotesk Bold.woff") format("truetype");
  font-weight: 500;
  font-display: swap;
}
.welcome_section {
  height: 80dvh;
  text-align: center;
  h1 {
    margin-top: 100px;
    font-size: 52px;
  }
  h3 {
    font-size: 30px;
  }
}
body {
  overflow-x: hidden; 
  font-family: "Soyuz Grotesk";
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.main {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: relative;

&::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle var(--shadow-size) at 20vw 0,
      var(--color-1) 100%,
      transparent 0
    ),
    radial-gradient(
      circle var(--shadow-size) at 100vw 0,
      var(--color-2) 100%,
      transparent 0
    ),
    radial-gradient(
      circle calc(var(--shadow-size) * 1.2) at 50vw 115vh,
      var(--color-3) 100%,
      transparent 0
    );
  opacity: 0.5;
  filter: blur(calc(var(--shadow-blur) * 1px));
  mix-blend-mode: hue;
}

&::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg-grain);
  background-size: 500px;
  filter: contrast(145%) brightness(650%) invert(100%);
  mix-blend-mode: screen;
}
}

.tooltip {
  font-size: 93px;
  font-weight: bold;
  text-align: center;
  background: radial-gradient(circle at var(--position-x, 50%) var(--position-y, 50%), #ff7a59, #ff3c41, #531113, #f2f2f2, #bf975c, #efb62b);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;  
}

@keyframes bg {
  0% {
    --position-x: 50;
    --position-y: 80;
  }
  25% {
    --position-x: 30;
    --position-y: 50;
  }
  50% {
    --position-x: 10;
    --position-y: 40;
  }
  75% {
    --position-x: 70;
    --position-y: 10;
  }
  100% {
    --position-x: 50;
    --position-y: 80;
  }
} 

.nav_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.714);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 59px;

    li {
      margin: 0 10px;

      a {
        margin: 0 15px;
        // color: #ac7a2e;
        letter-spacing: 1.5px;
        display: inline-flex;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease;
        border-bottom: 2px solid #bf975c;

        
        // &:hover {
        //   color: #bf975c;
        // }

      }
    }
  }
}

.a.active_nav {
  border-bottom: 2px solid transparent;
  padding-bottom: 6px;

}
 
.news   {
  display: flex;
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  padding: 100px;
}

.news_card{
  font-size: 25px;
  color: #000000;
}

.news_card_text{
  font-family: "Soyuz Grotesk";
  font-size: 20px;
  color: #000000;
}

.card{
  width: 70%;
  height: 70%;
  border-radius: 8px;
  position: relative;
  margin-left: 16%;
  cursor: pointer;
}
.card .image_box{
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.card .image_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100% 100%;
  border-radius: inherit;
  transition: 0.5s ease-in-out;
}
.card::after{
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid white;
  border-radius: inherit;
  opacity: 0;
  transition: 0.4s ease-in-out;

}
.card:hover img{
  filter: grayscale(1) brightness(0.4);
}
.card:hover::after{
  opacity: 1;
  inset: 20px;
}
.content_news{
  font-size: 20px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block; 
  visibility: hidden; 
  transform: translate(-50%, -50%);
  text-align: center;    
}
.content_news::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent;
}

.card:hover .content_news{
  visibility: visible;
  opacity: 1;
}

.active {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  // margin-bottom: 70px;
  background-color: #293239;
  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
  }

}

.home_title {
  font-size: 45px;
  text-align: center;
  padding: 20px;
  letter-spacing: -0.01em;
  // background: linear-gradient(315deg, #000000 0%, #000000 48.96%, #020202 100%);  
  color: #D2E5E9;
  background-color: #D2E5E9;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_text{
  font-family: 'Courier New', Courier, monospace;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 27px;
  line-height: 156%;
  letter-spacing: 0;
  // color: #000000;
  color: #D2E5E9;
  // color: #D2E5E9;
  padding: 10px;
 @media (max-width: 620px) {
  padding: 0;
  font-size: 18px;
 }

}

.image3d {
  @media (max-width: 620px) {
    display: none;
  }
}

.home_img{
  width: 25%;
  height: 50%;
  padding: 25px;
  margin-bottom: 10px;
}

.home_wrapper {
  max-width: 55%;
}

.why_us {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 70px;
}

.why_us_title {
  font-size: 40px;
  padding: 50px;
  background: linear-gradient(315deg, #000000 0%, #000000 48.96%, #020202 100%);  
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.item {
  flex: 1;
  margin: 20px;
}





.image {
text-align: right;
}

.image img {
  width: 18%;
  height: auto;
}



// #D2E5E9 немного темный
// #293239 темный
// #e3eced сероватый




.our_users {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  // margin-bottom: 7%;
  background-color: #293239;
  padding-bottom: 150px;
}

.our_users_title{
  font-size: 40px;
  // background: linear-gradient(315deg, #000000 0%, #000000 48.96%, #020202 100%);  
  background-color: #e3eced;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.content_our{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  flex: 1;
  // margin: 100px;
  padding: 0 40px;
  text-align: center;
  border: 1px solid #e3eced;
  border-radius: 10px;
}

.item_img {
  width: 70%;
  height: auto;
  margin-bottom: 15px;
}

.item_text_desc{
  font-size: 25px;
  margin-bottom: 10px;
  color: #e3eced;
}

.item_text_decor{
  font-size: 20px;
  color: #D2E5E9;
}


.spotlight__cards {
  display: flex;
  justify-content: center;
  padding: 10em;
  // margin-bottom: 20em;
  gap: 30px;
  font-family: 'Soyuz Grotesk';
  background-color: #293239 ;
  
  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: center;
    padding: 4em;
  }
}


.item_title {
  font-size: 30px;
  margin-bottom: 15px;
  color: #D2E5E9;
 }
 
 .item_text  {
 font-size: 20px;
 color: #e3eced;
 
}
.services {
  background-color: #293239;
  padding-top: 150px;
}
// #D2E5E9 немного темный
// #293239 темный
// #e3eced сероватый
