.h1 {
   font-size: 30px;
   padding: 60px;
   border: 1px solid #D2E5E9;
   border-left:  none ;
   border-right:  none ;
      color: #D2E5E9;
      


}
.df {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   color: #D2E5E9;

}
.nav {
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
   color: black;

   a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      transition: 0.4s;
      &:hover {
         color: #D2E5E9;
      }
   }
}
